* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    position: fixed;
    /* Evita que rebote el scroll en iPhone */
}

#app {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* RUTA CORREGIDA */
    background: url('fondo.jpeg') center center / cover no-repeat;
    z-index: 1;
}

#card-container {
    position: absolute;
    z-index: 10;
    /* Por encima del fondo */
    width: 90px;
    /* Tamaño de una carta doblada en 4 */
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    touch-action: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#folded-card {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
    /* Borde blanco finito como la carta real */
    border: 3px solid white;
}

#folded-card img {
    width: 200%;
    height: 200%;
    object-fit: cover;
    display: block;
}

/* Animación de salida explosiva hacia la izquierda */
.exit-left {
    transition: all 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19) !important;
    transform: translate(-150vw, -50%) rotate(-120deg) !important;
    opacity: 0;
}